/* <!-- UC-1 --> */
body {
    margin: 0;
    height: 100%;
}
  
.header {
    padding: 20px 90px;
    background-color: #ffffff;
}
  
  
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: left;
    border: 0px solid green;
}
  
.logo-content {
    display: flex;
    flex-direction: row;
    align-items: left;
    border: 0px solid green;
    width: 70%;
}
  
.logo-content-img {
    border: solid 1px #42515f;
}
  
.address-text {
    text-align: left;
    font: normal normal bold 20px/21px Montserrat;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}
  
.address-book {
     color: #42515f;
}
  
* {
    box-sizing: border-box;
}